body
{
    font-family: verdana;
    
}*{
    margin:0;
    padding:0;
}
header{
    position: absolute;
    background-color: black;
    width: 100%;
    color: white;
}

footer{
    /* position: absolute; */
    background-color: 	black;
    width: 100%;
    color: white;
    margin-top: 40px;
}
header h2{
    position: absolute;
    margin-top: 20px;
    left: 3%;
}
header{
    height: 8vh;
}
footer h2{
    position: absolute;
    left: 45%;
}
footer{
    height: 8vh;
    bottom: 0;
}
footer h3{
    font-style: italic;
    color: white;
}

.nav{
    position: absolute;
    width: 100%;
}

.nav a{
    position: relative;
    left: 70%;
    top: 20px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}